/* Note to students: Some properties are given to you to fill out,
others you can modify as they stand, and if you have time,
there are definitely some properties you should add!*/

    html {
      height: 100%;
      background-image: url("img/pink.jpg");
      text-align: center;
    }
    body {
       width: 800px;
       margin: 0 auto;
       height: 100%;
       display: center;
    }

    header {
        background-color: 5DCDFF;
        padding: 10px;
        font-size: 20px;
        font-style: italic;
        display: block;
        border: 1px solid #000000;
        margin: 20px;
        color: white;
    }
    nav {
        /*float:none;*/
        display: inline;
    }

/*
    nav ul {
        padding: 10;
        //float: left;
        border-bottom: 20px;
        list-style-type: none;

    }
    nav li {
        //float: left;

    }
    nav li a {
        display: block;
        height: 25px;
        padding: 12px 18px 8px 18px;
        vertical-align: middle;
    }
    */
    a {
        color: 5EFFF3;
    }
    section {
        width: 73%;
        display: inline-block;
        /*float: left;*/
    }
    aside {
        width: 50%;
        display: inline-block;
        background-color:E8622A;
        padding:50px;
        min-height: 10%;
    }
    aside ul {
        list-style-type: none;
    }
    footer {
        width: 790px;
        background-color:CCFF2F;
        color:white;
        clear: both;
        display: block;
    }
